<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176813239357-gt5b9764g2eevte1f4h9deu7on5uf9hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176813239357-gt5b9764g2eevte1f4h9deu7on5uf9hf</string>
	<key>API_KEY</key>
	<string>AIzaSyDtcalItk_pGaZqkZVPV58aM_vbObsnXeA</string>
	<key>GCM_SENDER_ID</key>
	<string>176813239357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.T-moji</string>
	<key>PROJECT_ID</key>
	<string>t-moji</string>
	<key>STORAGE_BUCKET</key>
	<string>t-moji.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176813239357:ios:c521a166923cb87c350e54</string>
</dict>
</plist>